# Ignore log files
logs/
*.log

# Ignore runtime data
pids/
*.pid
*.seed
*.pid.lock

# Ignore coverage directory used by tools like istanbul
coverage/

# Ignore dependency directories
node_modules/

# Ignore optional cache directories
.npm/
.cache/

# Ignore build and generated output directories
.dist/

# Ignore other tools and cache files
.env

# Ignore specific Mac files
.DS_Store
